/* HeroDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
   button {
    margin-top: 8px;
    width: 100px;
  }
  /*button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  } */